---
import Layout from '../components/Layout.astro';
---

<Layout title="My Profile">
	<main>

    <div id="content">
      <div class="header">
        <h1>My Profile </h1>


        <h2>
          This is a bare-bones profile placeholder
        </h2>


      </div>
			<div class="resource-list">
        <ul>
          <li>
            <a href="#">maybe banner</a>
					</li>
          <li>
            <a href="#">maybe key/val list</a>
          </li>
          <li>
            <a href="#">maybe timeline</a>
          </li>
        </ul>
      </div>
      <footer class="footer">
        Made with <a href="https://ntl.fyi/3P0dwBi"><img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg" alt="Netlify Logo" /></a> for you!
      </footer>
    </div>
	</main>
</Layout>
